@keyframes leftArrow {
    25%{
        transform: translateY(-50%) rotate(5deg);
    }
    50%{
        transform: translateY(-50%) rotate(5deg);
    }
    75%{
        transform: translateY(-50%) rotate(-5deg);
    }
    100%{
        transform: translateY(-50%) rotate(-5deg);
    }
}
@keyframes rightArrow {
    25%{
        transform: translateY(-50%) rotate(175deg);
    }
    50%{
        transform: translateY(-50%) rotate(175deg);
    }
    75%{
        transform: translateY(-50%) rotate(185deg);
    }
    100%{
        transform: translateY(-50%) rotate(185deg);
    }
}

@keyframes tips{
    from{
        color:#000;
    }
    35%{
        color:#000;
    }
    50%{
        color:#ffeb00;
    }
    65%{
        color:#000;
    }
    to{
        color:#000;
    }
}

@keyframes down{
    from{
        transform:  translate(-50%,-20%);
    }
    75%{
        transform: translate(-50%,-5%);
    }
    to{
        transform:  translate(-50%,-20%);
    }
}