/* 初始化样式 */
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}

#root{
  position: relative;
}
p{
  margin: 0;
}
/* index样式 */
/* 宽高都为100%的 */
.swiperContainer,.swiper,.arrowShield{
  height: 100%;
  width: 100%;
}

/* 竖屏设备,提醒横屏 */
.tips{
  display: none;
}
@media screen and (max-width:900px){
  .tips{
    float: left;
    display: block;
    color: #000;
    font-size: 14px;
    animation: tips 5s ease 0s infinite;
  }
}

.swiperContainer{
  height: calc(100vh);
  box-sizing: border-box;
  padding: 5% 10%;
  background: url(./assets/bgi/bgi3.jpg) no-repeat scroll;
  background-size: cover;
  transition: all 1.5s ease;
  overflow: hidden;
  touch-action: none;
}

/* 轮播图 */
.swiper{
  position: relative;
  z-index: 1;

}

/* 轮播图控件样式 */
.letfArrow,.rightArrow{
  position: absolute;
  top: 50%;
  width:50px;
  height: 100px;
  z-index: 1;
  background-color: rgba(100,100,100,0.5);
  border-radius: 25px 25px 25px 25px ;
}
.letfArrow{
  transform: translateY(-50%) rotate(-5deg);
  animation: leftArrow 5s ease 1s infinite;
}
.rightArrow{
  right: 0;
  transform: translateY(-50%)  rotate(185deg);
  /* transform-origin: center center; */
  animation: rightArrow 5s ease 1s infinite;
}
.arrowShield{
  position: absolute;
}

/* 轮播图内容区域 */
.swiperContent{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1.5s ease;
  height: 80%;
  
}
.swiperContainer::after{
  content: "";
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background-color: #ffeb00;
  opacity: 0.2;
  filter: blur(4px);
  z-index: 0;
}

/* 轮播图每一项 */
.swiperContentItem{
  position: relative;
  float: left;
  height: 100%;
  transition: all 1.5s ease;
  box-shadow: 20px 35px 10px #000;
  overflow: hidden;
}
.swiperContentItem div{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.swiperContentItem p{
  position: absolute;
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 7vh;
  font-weight: bold;
  align-items: center;
  background-color: #ffeb00;
  text-align: center;
  opacity: 0.7;
  border-radius: 30px;
}
.leftBottom{
  left: 3%;
  bottom: 3%;
}
.leftTop{
  left: 3%;
  top:3%;
}
.rightTop{
  top: 3%;
  right: 3%;
}
.rightBottom{
  right: 3%;
  bottom: 3%;
}

/* 非当前项样式 */
.transform{
transform: scale(0.8);
box-shadow: 10px 15px 10px #333;
}


/* 相册列表样式 */
.albumContainer{
  width: 100%;
  min-height:  calc(150vh);
  background: url(./assets/bgi/bgi2.jpg) no-repeat scroll;
  background-size: cover;
  position: absolute;
  top:calc(100vh);
  transition: all 1.5s ease;
  z-index: 2;
}
