/* 初始化样式 */
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

#root{
  position: relative;
}

p{
  margin: 0;
}

.displayNone{
  display: none;
}

/* index样式 */
/* 宽高都为100%的 */
.swiperContainer,.swiper,.arrowShield{
  height: 100%;
  width: 100%;
}

/* 竖屏设备,提醒横屏 */
.tips{
  display: none;
}

@media screen and (max-width:900px){
  .tips{
    float: left;
    display: block;
    color: #000;
    font-size: 14px;
    animation: tips 5s ease 0s infinite;
  }
}

.swiperContainer{
  height: calc(100vh);
  box-sizing: border-box;
  padding: 5% 10%;
  background-size: cover;
  transition: all 1.5s ease;
  overflow: hidden;
  touch-action: none;
  background: url(./assets/bgi/bgi3.jpg) no-repeat scroll;

}


.downIconContainer{
  width: 15vh;
  height: 7.5vh;
  position: fixed;
  animation: down 3s ease 0s infinite;
  bottom: 0;
  left: 50%;
  z-index: 2;
}


